# Dependencies
node_modules/
.pnp
.pnp.js

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Production / Build outputs
dist/
dist-ssr/
build/
.output/
.vercel
.turbo
*.tsbuildinfo

# Supabase Local
.temp/
supabase/.temp/

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Expo / React Native
.expo/
.expo-shared/
android/
ios/

# Editor / OS
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/
